<div class="container mt-5">
  <div style="margin-bottom: 2rem">
    <h2 class="mb-3">Checkout</h2>
    <nav
      style="
        --bs-breadcrumb-divider: url(
          &#34;data:image/svg + xml,
          %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
        );
      "
      aria-label="breadcrumb"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/dashboard" style="text-decoration: none">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/dashboard" style="text-decoration: none">Products</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </nav>
  </div>

  <div
    *ngIf="loading$ | async"
    class="spinner-border"
    style="width: 5rem; height: 5rem"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>

  <div
    *ngIf="(cart$ | async)?.length === 0"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <img
      src="../../../../assets/Images/empty_cart.svg"
      height="500"
      width="500"
    />
    <h1>Cart is Empty</h1>
  </div>
  <div class="row" *ngIf="(cart$ | async)?.length !== 0">
    <div class="col-md-9">
      <div class="product-list-container">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-2"><strong>Image</strong></div>
              <div class="col-md-3"><strong>Name</strong></div>
              <div class="col-md-2"><strong>Price</strong></div>
              <div class="col-md-2"><strong>Quantity</strong></div>
              <div class="col-md-2"><strong>Total</strong></div>
              <div class="col-md-1"><strong>Action</strong></div>
            </div>

            <div
              class="row mb-2 align-items-center"
              *ngFor="let item of cart$ | async"
            >
              <div class="col-md-2">
                <a
                  [routerLink]="['/dashboard/products', item._id]"
                  routerLinkActive="router-link-active"
                  style="cursor: pointer"
                >
                  <img
                    [src]="item.images[0]"
                    class="img-fluid"
                    alt="Product Image"
                  />
                </a>
              </div>
              <div
                class="col-md-3"
                [routerLink]="['/dashboard/products', item._id]"
                routerLinkActive="router-link-active"
                style="cursor: pointer"
              >
                {{ item.name }}
              </div>
              <div class="col-md-2">₹{{ item.price }}</div>
              <div class="col-md-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="decrementQuantity(item._id)"
                      [disabled]="item.quantity === 1"
                    >
                      -
                    </button>
                  </div>
                  <p
                    style="
                      font-size: 1.3rem;
                      margin-left: 8px;
                      margin-right: 8px;
                      margin-top: 3px;
                    "
                  >
                    {{ item.quantity }}
                  </p>
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="incrementQuantity(item._id)"
                      [disabled]="item.quantity >= getProductQuantity(item._id)"
                    >
                      +
                    </button>
                  </div>
                  <p>Available : {{ getProductQuantity(item._id) }}</p>
                </div>
              </div>
              <div class="col-md-2">
                ₹{{ item.quantity * item.price | number : "1.2-2" }}
              </div>
              <div class="col-md-1">
                <button
                  class="btn btn-danger btn-sm"
                  (click)="removeProduct(item._id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-archive-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-3">Order Summary</h4>
          <div class="row mb-3">
            <div class="col-md-6"><strong>Subtotal:</strong></div>
            <div class="col-md-6 text-right">
              {{ subtotal$ | async | currency : "INR" }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6"><strong>Discount:</strong></div>
            <div class="col-md-6 text-right">₹0.00</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6"><strong>Shipping:</strong></div>
            <div class="col-md-6 text-right">₹10.00</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6"><strong>Total:</strong></div>
            <div class="col-md-6 text-right">
              {{ total$ | async | currency : "INR" }}
            </div>
          </div>
          <hr />
          <button
            class="btn btn-primary btn-block"
            (click)="handleProceedCheckout()"
          >
            Proceed to Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
