<div class="bg-light py-3 py-md-5" style="height: 100vh">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row gy-3 mb-5">
            <div class="col-12">
              <div class="text-center">
                <a href="#!">
                  <img
                    src="https://cdn6.aptoide.com/imgs/0/1/a/01a72829c50527e432951c557d8c6977_icon.png"
                    alt="BootstrapBrain Logo"
                    width="130"
                    height="130"
                  />
                </a>
              </div>
            </div>
            <div class="col-12">
              <h2 class="fs-6 fw-normal text-center text-secondary m-0 px-md-5">
                Enter the 6-digit OTP sent to your email address.
              </h2>
            </div>
          </div>
          <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="email" class="form-label"
                  >Email <span class="text-danger">*</span></label
                >
                <div class="input-group">
                  <span class="input-group-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-envelope"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
                      />
                    </svg>
                  </span>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    formControlName="email"
                    id="email"
                    required
                  />
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    otpForm.get('email')!.hasError('required') &&
                    otpForm.get('email')?.touched
                  "
                >
                  {{ validationMessages.email.required }}
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    otpForm.get('email')?.hasError('email') &&
                    otpForm.get('email')?.touched
                  "
                >
                  {{ validationMessages.email.email }}
                </div>
              </div>
              <div class="col-12">
                <label for="newPassword" class="form-label"
                  >New Password <span class="text-danger">*</span></label
                >
                <div class="input-group">
                  <span class="input-group-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-eye"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
                      />
                      <path
                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
                      />
                    </svg>
                  </span>
                  <input
                    type="password"
                    class="form-control"
                    name="newPassword"
                    formControlName="newPassword"
                    id="newPassword"
                    required
                  />
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    otpForm.get('newPassword')!.hasError('required') &&
                    otpForm.get('newPassword')?.touched
                  "
                >
                  {{ validationMessages.newPassword.required }}
                </div>
              </div>
              <div class="col-12">
                <label for="otp" class="form-label"
                  >OTP <span class="text-danger">*</span></label
                >
                <div class="d-flex justify-content-between">
                  <input
                    type="number"
                    class="form-control text-center me-1"
                    maxlength="1"
                    formControlName="otp1"
                    (keyup)="moveToNext($event, 1)"
                  />

                  <input
                    type="number"
                    class="form-control text-center me-1"
                    maxlength="1"
                    formControlName="otp2"
                    (keyup)="moveToNext($event, 2)"
                  />
                  <input
                    type="number"
                    class="form-control text-center me-1"
                    maxlength="1"
                    formControlName="otp3"
                    (keyup)="moveToNext($event, 3)"
                  />
                  <input
                    type="number"
                    class="form-control text-center me-1"
                    maxlength="1"
                    formControlName="otp4"
                    (keyup)="moveToNext($event, 4)"
                  />
                  <input
                    type="number"
                    class="form-control text-center me-1"
                    maxlength="1"
                    formControlName="otp5"
                    (keyup)="moveToNext($event, 5)"
                  />
                  <input
                    type="number"
                    class="form-control text-center"
                    maxlength="1"
                    formControlName="otp6"
                    (keyup)="moveToNext($event, 6)"
                  />
                </div>
                <div
                  class="text-danger"
                  *ngIf="
                    (otpForm.get('otp1')!.hasError('required') &&
                      otpForm.get('otp1')?.touched) ||
                    (otpForm.get('otp2')!.hasError('required') &&
                      otpForm.get('otp2')?.touched) ||
                    (otpForm.get('otp3')!.hasError('required') &&
                      otpForm.get('otp3')?.touched) ||
                    (otpForm.get('otp4')!.hasError('required') &&
                      otpForm.get('otp4')?.touched) ||
                    (otpForm.get('otp5')!.hasError('required') &&
                      otpForm.get('otp5')?.touched) ||
                    (otpForm.get('otp6')!.hasError('required') &&
                      otpForm.get('otp6')?.touched)
                  "
                >
                  {{ validationMessages.otp1.required }}
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-dark btn-lg" type="submit">
                    Verify OTP
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle" />
              <div class="d-flex gap-4 justify-content-center">
                <a
                  href="/auth/signin"
                  class="link-secondary text-decoration-none"
                  >Log In</a
                >
                <a
                  href="/auth/signup"
                  class="link-secondary text-decoration-none"
                  >Register</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-spinner-loading></app-spinner-loading>
